li
 a(data-toggle="modal", data-target=".login-modal", href="#login-modal")
  span.glyphicon.glyphicon-log-in(aria-label="login",title="Log in")
.modal.fade.login-modal(tabindex="-1",role="login",id="login-modal")
 .modal-dialog.modal-sm
  .modal-content
   form.form-inline(role="login" action='/login',method='post')
    .form-group
     label.sr-only(for="user[email]") Enter Email
     input.form-control.input-sm(type="email", placeholder="Enter Email", id="user[email]",name='user[email]')
    .form-group
     label.sr-only(for="user[password]") Password
     input.form-control.input-sm(type="password", placeholder="Password", id="user[password]",name='user[password]')
    button.btn.btn-default(type='submit') Sign in
