doctype html
html(lang="en")
 include head
 body
   script.
      function setViewer(e){
        $("#viewport").load(e);
        }
      
      function setRec(e){
        $("#recognizer").load(e);
        }
   style.
    .navbar{margin-bottom:'0px';}
   //Navbar/header includer
   nav.navbar.navbar-inverse.navbar-static-bottom(role="navigation",style="margin-bottom:'0px';max-height:'52px'")
    div.container-fluid
     if(page&&page.title)
       p.hidden-xs.navbar-text=page.title
     else
       p.hidden-xs.navbar-text Active Portfolio
     ul.nav.navbar-nav.navbar-right.col-xs-2
      li
       a(href="/").col-xs-1
        span.glyphicon.glyphicon-globe(title="Global View")
      li
       a(href="#stats").col-xs-1
        span.glyphicon.glyphicon-stats(title="Statistics")
     ul.nav.navbar-nav.navbar-right.col-xs-8#recognizer 
       script.
        setRec('/recognize');
