doctype html
html(lang="en")
 include head
 body
   script.
      function setViewer(e){
        $("#viewport").load(e);
        }
      
      function setRec(e){
        $("#recognizer").load(e);
        }

   //Navbar/header includer
   nav.navbar.navbar-inverse.navbar-static-bottom(role="navigation")
    div.container-fluid
     if(page&&page.title)
       p.hidden-xs.navbar-text=page.title
     else
       p.hidden-xs.navbar-text Active Portfolio
     ul.nav.navbar-nav.navbar-right
      li
       a(href="/").xs-col-1
        span.glyphicon.glyphicon-globe(title="Global View")
      li
       a(href="#stats").xs-col-1
        span.glyphicon.glyphicon-stats(title="Statistics")
     ul.nav.navbar-nav.navbar-right#recognizer 
       script.
        setRec('/recognize');
