//user console for modifying stuff and doing things.
include includes/nav
p="This will have various controls for dealing with one's elements and items."
img(src='https://api.qrserver.com/v1/create-qr-code/?data=http://apcentral.herokuapp.com/'+user.shortname+'/&amp;size=100x100" alt="" title=""')