include includes/nav
.container-fluid
 form.form-inline(action='/login',method='post')
  .form-group
   label.sr-only(for='user[email]') Email Address
   input(type="email",class="form-control", placeholder="Enter Email", id="user[email]",name='user[email]')
  .form-group
   label.sr-only(for='user[password]') Password
   input(type="password",class="form-control", placeholder="Password", id="user[password]",name='user[password]')
  .checkbox
   label
    input(type="checkbox") 
    Remember me
  button.btn.btn-default(type='submit') Sign in
